Source: ros-kinetic-python-ftputil
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin (>= 0.6.18), ros-kinetic-catkin-pip (>= 0.2.0)
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-python-ftputil
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: a high-level FTP client library for Python
